<div id="<%= dom_id friend %>">

<div class="jumbotron">
  <h1 class="display-4"><%= friend.first_name + " "+ friend.last_name%></h1>

  <br>
  <p class="lead">
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>

  <p class="lead">
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p class="lead">
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p class="lead">
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p class="lead">
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>
  <div class="row">
    <div class="col-sm-12">
      <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-warning" , form: {style: 'display:inline-block;'}%>
      <%= link_to "Back", friends_path, class:"btn btn-success", form: {style: 'display:inline-block;'} %>
      <%= button_to "Destroy", @friend, method: :delete, class:"btn btn-danger", form: {style: 'display:inline-block;'}%>
    </div>
  </div>
</div>
</div>
